{{ if and (isset .Params "featured") (ne .Params.featured "") }}
    {{ $.Scratch.Set "path" .Params.featured }}

    {{ if and (isset .Params "featured") (ne .Params.featured "") }}
        {{ $.Scratch.Set "structType" "page" }}
        {{ partial "img-path" . }}
        {{ $path := $.Scratch.Get "path" }}
        {{ $alt := $.Scratch.Get "alt" }}
        {{ $img := $.Scratch.Get "img" }}

        <a href="{{ .RelPermalink }}" class="image featured">
            <img src="{{ $path | relURL }}" alt="{{ $alt }}">
        </a>
    {{ end }}
{{ end }}
